/*Perfil academico*/
table{
	margin-left: 25%;
    color: white;
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}
th, td {
    
    font-family: "Allan",'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #9c5203;
}
.semestre{
	font-size: 40px;
}